body {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 85vh;
  margin: 10px;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  font-size: larger;
  overflow: hidden;
}

.logo {
  padding-top: 0.5rem;
  width: 150px;
  height: 100%;
}

.logo > img {
  width: 100%;
  height: 100%;
  background: black;
  object-fit: cover;
  background-position: center;
}

.nav-items > ul {
  padding: 0px 30px;
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  display: flex;
  padding: 0px 30px;
  margin: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 200px;
  background: rgb(224, 228, 163);
  transition: all 0.8s;
}

.card-container > .card > .card-image {
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center;
}

.card-container > .card > .card-detail {
  font-size: 14px;
  padding: 0px 5px;
}

.card-container > .card:hover {
  transform: scale(0.9);
  box-shadow: 5px 5px 15px gray;
}

.btn-filter {
  margin: 10px 0;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  background: green;
  color: white;
}
.footer {
  height: 15vh;
  background: rgba(0, 0, 0, 0.81);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  padding: 5px;
  background: rgb(161, 158, 158);
}

.user-card {
  padding-inline: 10px;
  border: 1px solid black;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
